<a href="https://colab.research.google.com/github/Ronel2030/Act_Profelect2/blob/main/Gold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Ronel2030/Ronel/main/Gold%20Price%20Prediction.csv")

In [ ]:
df.head()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,8/7/24,2405.87,2384.90,2385.83,NaN,NaN,NaN,30.155078,2414.7450,2368.2948,...,3.0,5.33,96,5.50,4.00,3.96,103.37,5293.13,24.77,72.84
1,8/6/24,2442.74,2405.87,2384.90,2385.83,0.93,NaN,29.423936,2414.1525,2367.7916,...,3.0,5.33,89,5.50,3.99,3.90,102.78,5206.42,33.71,73.86
2,8/5/24,2447.17,2442.74,2405.87,2384.90,-20.97,NaN,28.341301,2413.2305,2367.1584,...,3.0,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,8/2/24,2447.23,2447.17,2442.74,2405.87,-36.87,NaN,28.616661,2411.0920,2365.7250,...,3.0,5.33,89,5.54,3.88,3.80,104.31,5376.63,20.52,76.87
4,8/1/24,2411.09,2447.23,2447.17,2442.74,-4.43,NaN,26.084796,2408.5670,2363.5624,...,3.0,5.33,83,5.55,4.16,3.99,104.07,5537.84,16.20,78.59

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    676 non-null    object
 1   Price 2 Days Prior                      676 non-null    float64
 2   Price 1 Day Prior                       676 non-null    float64
 3   Price Today                             676 non-null    float64
 4   Price Tomorrow                          675 non-null    float64
 5   Price Change Tomorrow                   675 non-null    float64
 6   Price Change Ten                        666 non-null    float64
 7   Std Dev 10                              667 non-null    float64
 8   Twenty Moving Average                   676 non-null    float64
 9   Fifty Day Moving Average                676 non-null    float64
 10  200 Day Moving Average                  676 non-null    float64
 11  Monthly Inflation Rate                  676 non-null    float64
 12  EFFR Rate                               676 non-null    float64
 13  Volume                                  676 non-null    int64
 14  Treasury Par Yield Month                676 non-null    float64
 15  Treasury Par Yield Two Year             676 non-null    float64
 16  Treasury Par Yield Curve Rates (10 Yr)  676 non-null    float64
 17  DXY                                     676 non-null    float64
 18  SP Open                                 676 non-null    float64
 19  VIX                                     676 non-null    float64
 20  Crude                                   676 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 111.0+ KB

In [ ]:
df['DXY']=pd.to_datetime(df['DXY'],errors = 'coerce')

In [ ]:
df['DXY'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 676 entries, 0 to 675
Series name: DXY
Non-Null Count  Dtype
--------------  -----
676 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.4 KB

In [ ]:
df['Crude']=pd.to_datetime(df['Crude'],errors = 'coerce')

In [ ]:
df['Crude'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 676 entries, 0 to 675
Series name: Crude
Non-Null Count  Dtype
--------------  -----
676 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.4 KB

In [ ]:
df['date_gap'] = df['DXY'] - df['Crude']

In [ ]:
df['Date'] = pd.to_numeric(df['Date'],errors= 'coerce').astype('Int64')

In [ ]:
df['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 676 entries, 0 to 675
Series name: Date
Non-Null Count  Dtype
--------------  -----
0 non-null      Int64
dtypes: Int64(1)
memory usage: 6.1 KB

In [ ]:
df.head()

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude,date_gap
0,<NA>,2405.87,2384.90,2385.83,NaN,NaN,NaN,30.155078,2414.7450,2368.2948,...,5.33,96,5.50,4.00,3.96,1970-01-01 00:00:00.000000103,5293.13,24.77,1970-01-01 00:00:00.000000072,0 days 00:00:00.000000031
1,<NA>,2442.74,2405.87,2384.90,2385.83,0.93,NaN,29.423936,2414.1525,2367.7916,...,5.33,89,5.50,3.99,3.90,1970-01-01 00:00:00.000000102,5206.42,33.71,1970-01-01 00:00:00.000000073,0 days 00:00:00.000000029
2,<NA>,2447.17,2442.74,2405.87,2384.90,-20.97,NaN,28.341301,2413.2305,2367.1584,...,5.33,86,5.52,3.89,3.78,1970-01-01 00:00:00.000000103,5151.14,23.39,1970-01-01 00:00:00.000000074,0 days 00:00:00.000000029
3,<NA>,2447.23,2447.17,2442.74,2405.87,-36.87,NaN,28.616661,2411.0920,2365.7250,...,5.33,89,5.54,3.88,3.80,1970-01-01 00:00:00.000000104,5376.63,20.52,1970-01-01 00:00:00.000000076,0 days 00:00:00.000000028
4,<NA>,2411.09,2447.23,2447.17,2442.74,-4.43,NaN,26.084796,2408.5670,2363.5624,...,5.33,83,5.55,4.16,3.99,1970-01-01 00:00:00.000000104,5537.84,16.20,1970-01-01 00:00:00.000000078,0 days 00:00:00.000000026

In [ ]:
df['date_gap']

0     0 days 00:00:00.000000031
1     0 days 00:00:00.000000029
2     0 days 00:00:00.000000029
3     0 days 00:00:00.000000028
4     0 days 00:00:00.000000026
                 ...
671   0 days 00:00:00.000000017
672   0 days 00:00:00.000000019
673   0 days 00:00:00.000000019
674   0 days 00:00:00.000000020
675   0 days 00:00:00.000000020
Name: date_gap, Length: 676, dtype: timedelta64[ns]